.about {
  width: 500px;
}
.about a {
  font-family: lato;
  text-decoration: none;
  color: black;
  margin-top: 30px;
  font-weight: bold;
  font-style: normal;
  font-size: 100%;
}
.aboutName{
  color: black;
}
.profile {
  border-radius: 75px;
  width: 350px;
  height: 350px;
}
.profile:hover {
  border-radius: 75px;
  opacity: 0.8;
}

.about a:hover {
  text-decoration: underline;
}

.span{
 position: absolute;
 color:black;
 font-size: 35px;
 opacity: 0;
 width: 350px;
 height: 350px;
}
.span:hover{
opacity: 1;
}
