.main {
  border: 2px solid;
  border-color: #ffff;
  border-radius: 10px;
  text-align: center;
}
.main p {
  margin-top: 8px;
  color: #ffff;
  font-family: lato;
  font-weight: bold;
  font-style: normal;
  font-size: larger;
}
.profilePic {
  border-radius: 150px;
  width: 250px;
  margin: auto;
}
.name h2 {
  color: #ffff;
  font-family: lato;
}
.name h4 {
  color: #ffff;
  font-family: lato;
}
.background {
  background-image: url(../../public/pictures/background.jpeg);

  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.aboutme {
  color: #ffff;
}
