.main {
  border: 2px solid;
  border-color: #ffff;
  border-radius: 10px;
  text-align: center;
}
.main p {
  margin-top: 8px;
  color: #ffff;
  font-family: lato;
  font-weight: bold;
  font-style: normal;
  font-size: larger;
}
.profilePic {
  border-radius: 150px;
  width: 250px;
  margin: auto;
}
.name h2 {
  color: #ffff;
  font-family: lato;
}
.name h4 {
  color: #ffff;
  font-family: lato;
}
#background {
  background-image: url(../../public/pictures/background.jpeg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
}
.aboutme {
  color: #ffff;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}
.aboutmes {
  color: #ffff;
}
.iconsLogo img{
  width: 30px;
  height: 30px;
}
.iconsLogo{
  width: 150px;
}
.created{
  text-align: end;
  color:aqua;
  margin-right: 50px;
}
.back-frem{
  width: 18rem;
  height: 6rem;
  background: white;
  border-radius: 23px;
  bottom:10px;
}
.backChange{
width: 91px;
height: 91px;
background: wheat;
overflow: hidden;
cursor: pointer;
border-radius: 23px;
}
.backChange img{
  width: 100%;
  height: 100% ;
  object-fit: cover;
}
.backChange video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.backChange div{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgb(250, 140, 151);
}
body{
  font-family: 'Roboto', sans-serif;
}